footer{
padding: 102px 102px;

.footer-page {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url(../imgs/footstyle.png);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: $darkGreen;
      padding: 102px 102px;
      
      &_title {
            max-width: 725px;
            width: 100%;
            color: #fff;
            font-family: $bold;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            text-align: center;
            margin-bottom: 50px;
      }

      &_btn {
            display: flex;
            gap: 30px;

            #sign {
                  background-color: #fff;
                  color: $darkGrey;
                  border: solid 1px $darkGreen;
            }

            #sign:hover {
                  background-color: $darkGreen;
                  color: #fff;
                  border-color: #fff;
            }
      }
}
}