.header-banner {
  // width: 100%;
    @include flexBetween;
    padding-block: 174px 150px;
    &_wrapper {
    max-width: 626px;
    width: 100%;
    position: relative;
      &-title {
      width: 100%;
      color: $darkGrey;
      font-family: $bold;
      font-weight: 700;
      font-size: 63.4539px;
      line-height: 83px;
    }
    &-text {
      width: 100%;
      color: $lightGrey;
      font-family: $semiBold;
      margin-block: 32px 50px;
    }
    &-btn {
      display: flex;
      align-items: center;
      gap: 29px;
      .play {
          display: flex;
          align-items: center;
          border: none;
          background: transparent;
          color: $darkGrey;
          font-family: $semiBold;
          font-weight: 600;
          font-size: 19.8294px;
          line-height: 15px;
          gap: 15px;
        & div {
          width: 66px;
          height: 66px;
          display: flex;
          justify-content: center;
          padding: 20px;
          background-color: #fff;
          border-radius: 50%;
        }
      }
    }
  }
  &_foto{
    max-width: 900px;
    width: 100%;
   position: absolute;
   right: 165px;
  }

}
.all{
  padding: 20px 100px;
}
