.education {
    display: flex;
    justify-content: space-between;
    position: relative;

    .started {
        max-width: 500px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        &-box {
            max-width: 305px;
            width: 100%;
            position: absolute;

            &__item {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
           

            &__item:nth-child(1){
                position: absolute;
                width: 100px;
                top: 100px;
                left: 25%;
            }
            &__item:nth-child(2){
                position: absolute;
                width: 100px;
                top: 200px;
                right: -50%;
            }

            &__item-box {
                width: 255px;
                padding: 50px 23px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #FEFEFE;
                box-shadow: 5px 5px 100px rgba(87, 88, 89, 0.1);
                border-radius: 10px;
                transition: .4s;

                &:hover {
                    background-color: $darkGreen;
                }
            }


        }
        
        }

     
    }
